.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

.main-body {
  padding-top: 4em;
}

.mainContent {
  padding: 4em;
}

.parent {
  background: deeppink;
  padding: 1em;
}

.name {
  margin-top: 1em;
}
