<mat-toolbar class="menu" role="header" color="primary">
  <mat-toolbar-row>
    <button mat-button class="mat-button">
      <span style="margin-left: 5px !important;">Home</span>
    </button>
    <button mat-button class="mat-button">
      About
    </button>
    <button mat-button class="mat-button">
      Contact Us
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-body" fxLayout="row">
  <div class="sideNav" fxFlex="30%">
    <mat-sidenav-container >
      <mat-sidenav mode="side" opened>
        <mat-toolbar>
          <mat-toolbar-row>
            <h2>Sidebar Menu</h2>
          </mat-toolbar-row>
        </mat-toolbar>
      </mat-sidenav>
      <mat-sidenav-content>
        <div style="height: 88vh;">
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <div class="mainContent" fxFlex="70%">
    <div class="parent">

      <h2>Parent</h2>
      <div class="greeting">
        Greeting: <input type="text" [(ngModel)]="myGreeting">
      </div>

      <div class="name">
        User name: <input type="text" [(ngModel)]="myUser.name">
      </div>

      <app-child [greeting]="myGreeting" [user]="myUser"></app-child>
    </div>
  </div>
</div>

