<mat-toolbar class="menu" role="header" color="primary">
  <mat-toolbar-row>
    <button mat-button class="mat-button">
      <span style="margin-left: 5px !important;">Home</span>
    </button>
    <button mat-button class="mat-button">
      About
    </button>
    <button mat-button class="mat-button">
      Contact Us
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-body" fxLayout="row">
  <div class="sideNav" fxFlex="30%">
    <mat-sidenav-container >
      <mat-sidenav mode="side" opened>
        <mat-toolbar>
          <mat-toolbar-row>
            <h2>Sidebar Menu</h2>
          </mat-toolbar-row>
        </mat-toolbar>
      </mat-sidenav>
      <mat-sidenav-content>
        <div style="height: 88vh;">
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <div class="mainContent" fxFlex="70%">

    <mat-card>

      <mat-card-title>Login Form</mat-card-title>

      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">

        <div class="form-label">Username: <input type="text" name="username" ngModel></div>

        <div class="form-label">SSN: <input type="text" name="ssn" ngModel></div>

        <div ngModelGroup="passwordsGroup" >
          <div class="form-label">Password: <input type="password" name="password" ngModel></div>
          <div class="form-label">Confirm Password: <input type="password" name="pconfirm" ngModel></div>
        </div>

        <button type="submit" class="form-btn">Submit</button>

      </form>

    </mat-card>

</div>

